.search-el,.search-input,.search-input:focus {
  width:300px;
  height:100%;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  align-items: center;
  border:0px;
  border-collapse: collapse;
  outline: 0px;
}
