@import "../../../var";
.task {
  margin-top:5px;
  display: flex;
}
.task-content-wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 10px;
  padding:10px;
  min-width:400px;
  background-color: $content-color;
}
.task-content-wrapper > div {
  border-bottom:3px solid $dynamic-color;
  flex-basis: 30px;
  display: flex;
  align-items: center;
}
span {
  font-weight: 300;
  margin-left:20px;
}
